In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import  GaussianNB,BernoulliNB,MultinomialNB
from sklearn.metrics import confusion_matrix,classification_report

In [4]:
df = pd.read_csv("./Placement_Data.csv")

In [15]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [7]:
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [9]:
X = df[['ssc_p','hsc_p','degree_p','etest_p','mba_p']]
y = df['status']

In [10]:
label_encoder = LabelEncoder()
y= label_encoder.fit_transform(y)

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [24]:
nb = GaussianNB()
nb.fit(X_train,y_train)
print("Naive Bayes score with Gaussian NB:",nb.score(X_test,y_test)*100)
predict = nb.predict(X_test)
print(classification_report(y_test,predict))

Naive Bayes score with Gaussian NB: 72.09302325581395
              precision    recall  f1-score   support

           0       0.50      0.42      0.45        12
           1       0.79      0.84      0.81        31

    accuracy                           0.72        43
   macro avg       0.64      0.63      0.63        43
weighted avg       0.71      0.72      0.71        43

In [28]:
bnb = BernoulliNB(binarize=0.0)
bnb.fit(X_train,y_train)
y_pred = bnb.predict(X_test)
print("Naive Bayes score with Bernoulli NB", nb.score(X_test,y_test)*100)
print(classification_report(y_test,y_pred))

Naive Bayes score with Bernoulli NB 72.09302325581395
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        12
           1       0.72      1.00      0.84        31

    accuracy                           0.72        43
   macro avg       0.36      0.50      0.42        43
weighted avg       0.52      0.72      0.60        43

/home/aditya/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/home/aditya/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/home/aditya/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [30]:
clf = MultinomialNB()
clf.fit(X_train,y_train)
y_pred2 = clf.predict(X_test)
print("Classifier", clf.score(X_test,y_test)*100)
print(classification_report(y_test,y_pred2))

Classifier 83.72093023255815
              precision    recall  f1-score   support

           0       0.86      0.50      0.63        12
           1       0.83      0.97      0.90        31

    accuracy                           0.84        43
   macro avg       0.85      0.73      0.76        43
weighted avg       0.84      0.84      0.82        43

In [34]:
sample_student = [[75.0, 80.0, 70.0, 60.0, 72.0]]
predicted_status = bnb.predict(sample_student)
print("Predicted Placement Status:", predicted_status[0])

Predicted Placement Status: 1

/home/aditya/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but BernoulliNB was fitted with feature names
  warnings.warn(